.burgerMenuIcon {
display: inline-block;
    margin: 18px 70px 0;
}

.header {
    width: 1280px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0 0 40px rgba(29, 33, 38, 0.13), 0 0 2px rgba(29, 33, 38, 0.1);
}

.header h1 {
    display: inline-block;
    margin-left: 73%;
    margin-bottom: 14px;
    padding-top: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}